#canvas {
    background: black;
}
#sphereCanvas {
    position: absolute;
    top: 145px;
    left: 295px;
}
div {
    height: 50px;
    width: 150px;
    font-size: 7px;
    color: white;
    position: absolute;
    top: 50px;
    left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    cursor: pointer;
}
