.container {
    background-color: black;
    width: 100vw;
    height: 100vh;

    #chart {
        position: absolute;
        left: 0;
        top: 100px;
    }
}

.slidecontainer {
    width: 320px;
    position: absolute;
    left: 350px;
    bottom: 80px;

    .refresh {
        color: white;
        font-size: 30px;
        position: absolute;
        right: 0;
        top: 0px;
        cursor: pointer;
    }

    .custom-range {
        width: 260px;
        position: relative;
        border: 1px solid rgb(93 93 93 / 0.4);
        top: 14px;
    }
    .tick-wrapper {
        width: 262px;
        top: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .tick {
            border-left: 2px solid rgb(93 93 93 / 0.4);
            height: 16px;
            &:first-child,
            &:nth-child(7),
            &:last-child {
                height: 26px;
            }
        }
    }

    .custom-name {
        width: 280px;
        display: flex;
        padding-top: 20px;
        margin-left: -10px;
        color: #5d5d5d;
        font-family: "Helvetica";
        font-size: 10px;
        justify-content: space-between;
    }

    input[type="range"] {
        box-sizing: border-box;
        height: 10px;
        background-color: transparent;
        cursor: pointer;
        -webkit-appearance: none;
        width: 266px;
        margin-left: -2px;
        position: absolute;
        bottom: 15px;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
        }
        &:focus {
            outline: none;
        }
        &::-ms-track {
            width: 100%;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            color: transparent;
        }

        // * * * THUMB * * *

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 5px;
            height: 5px;
            background-color: white;
            border-radius: 50%;
            cursor: pointer;
        }

        &::-moz-range-thumb {
            width: 5px;
            height: 5px;
            background-color: white;
            border-radius: 50%;
            cursor: pointer;
        }

        &::-ms-thumb {
            width: 5px;
            height: 5px;
            background-color: white;
            border-radius: 50%;
            cursor: pointer;
        }

        // // * * * TRACK * * *

        &::-webkit-slider-runnable-track {
            width: 100%;
            cursor: pointer;
            height: 2px;
            background-color: transparent;
        }

        &::-moz-range-track {
            width: 100%;
            cursor: pointer;
            height: 2px;
            background-color: transparent;
        }

        &::-ms-track {
            background: transparent;
            border-color: transparent;
            color: transparent;
        }
    }
}
